<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <link rel="icon" href="../../../../favicon.ico">

    <title>Fjármál X</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top  flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Fjármál X</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <!-- NAVIGATION -->
        <nav class="col-md-2 d-none d-md-block sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/">
                  <span data-feather="box"></span>
                  Home <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/marketport/">
                  <span data-feather="activity"></span>
                  Portfolio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Strategies
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="shield"></span>
                  Risk
                </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/about/">
                <span data-feather="github"></span>
                About us
              </a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="help-circle"></span>
                  Help
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <!-- CONTAINER DIV -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" id="maindiv">
          <!-- UPPER TOOLBAR -->
          <div class="col-md-9 ml-sm-auto col-lg-12" id="divtest">
            <div class="container-fluid">
              <div class="row">
                  <div class="col-sm-4" id="colstyle">
                    <h1 class="_800 l-s-n-4x inline m-r-sm">26</h1>
                    <span class="inline l-h-1x">Stocks<br><small class="text-muted">on the icelandic market</small></span>
                  </div>
                  <div class="col-sm-4" id="colstyle">
                    <h1 class="_800 l-s-n-4x inline m-r-sm text-danger">4</h1>
                    <span class="inline l-h-1x">Stocks<br><small class="text-muted">are in First North</small></span>
                  </div>
                  <div class="col-sm-4" id="colstyle">
                    <h1 class="_800 l-s-n-4x inline m-r-sm text-danger">31,000</h1>
                    <span class="inline l-h-1x">Employees<br><small class="text-muted">From 16 countries</small></span>
                  </div>
                </div>
              </div>
          </div>

          <!-- TOOLBAR -->
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Stock market</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group dropleft" id="bootstrap-overrides">
                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span data-feather="calendar"></span>
                  Time
                </button>
                <div class="dropdown-menu">
                  <!-- Dropdown menu links -->
                  <a class="dropdown-item" href="#">Last week</a>
                  <a class="dropdown-item" href="#">Last month</a>
                  <a class="dropdown-item" href="#">Last year</a>
                  <a class="dropdown-item" href="#">Last 5 years</a>
                </div>
              </div>
              <div id=buttonOverwrite>
              <button type="button" class="btn btn-outline-danger" type="submit" value="Submit">
                <span data-feather="plus"></span>
                Submit
              </button>
            </div>
            </div>
          </div>

          <!-- RADIO BUTTONS -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-8" id="colstyle">
                <canvas class="my-2" id="myChart" ></canvas>
              </div>
                <div class="col-sm-4" id="colstyle">
                    <div class="RadioBtnsWrap" id="scrollable">
                      <input type="radio" name="radio1" id="radio1" class="Radio" onclick="document.location='/SKEL'"/>
                      <label for="radio1">Skeljungur hf. (SKEL)</label>

                      <input type="radio" name="radio1" id="radio2" class="Radio" onclick="document.location='/EIK'" />
                      <label  for="radio2">Eik fasteignafélag (EIK)</label>

                      <input type="radio" name="radio1" id="radio3" class="Radio" onclick="document.location='/REITIR'"/>
                      <label  for="radio3">Reitir fasteignafélag (REITIR)</label>

                      <input type="radio" name="radio1" id="radio4" class="Radio" onclick="document.location='/SIMINN'"/>
                      <label  for="radio4">Síminn (SIMINN)</label>

                      <input type="radio" name="radio1" id="radio5" class="Radio" onclick="document.location='/GRND'"/>
                      <label  for="radio5">HB Grandi (GRND)</label>

                      <input type="radio" name="radio1" id="radio6" class="Radio" onclick="document.location='/SJOVA'"/>
                      <label  for="radio6">Sjóvá-Almennar tryggingar (SJOVA)</label>

                      <input type="radio" name="radio1" id="radio7" class="Radio" onclick="document.location='/N1'"/>
                      <label  for="radio7">N1 (N1)</label>

                      <input type="radio" name="radio1" id="radio8" class="Radio" onclick="document.location='/TM'"/>
                      <label  for="radio8">Tryggingamiðstöðin (TM)</label>

                      <input type="radio" name="radio1" id="radio9" class="Radio" onclick="document.location='/VIS'"/>
                      <label  for="radio9">Vátryggingafélag Íslands (VIS)</label>

                      <input type="radio" name="radio1" id="radio10" class="Radio" onclick="document.location='/VOICE'"/>
                      <label  for="radio10">Fjarskipti (VOICE)</label>

                      <input type="radio" name="radio1" id="radio11" class="Radio" onclick="document.location='/EIM'"/>
                      <label  for="radio11">Eimskipafélag Íslands (EIM)</label>

                      <input type="radio" name="radio1" id="radio12" class="Radio" onclick="document.location='/REGINN'"/>
                      <label  for="radio12">Reginn (REGINN)</label>

                      <input type="radio" name="radio1" id="radio13" class="Radio" onclick="document.location='/HAGA'"/>
                      <label  for="radio13">Hagar (HAGA)</label>

                      <input type="radio" name="radio1" id="radio14" class="Radio" onclick="document.location='/ORIGO'"/>
                      <label  for="radio14">Nýherji (ORIGO)</label>

                      <input type="radio" name="radio1" id="radio15" class="Radio" onclick="document.location='/ICEAIR'"/>
                      <label  for="radio15">Icelandair Group (ICEAIR)</label>

                      <input type="radio" name="radio1" id="radio16" class="Radio" onclick="document.location='/MARL'"/>
                      <label  for="radio16">Marel (MARL)</label>

                    </div>
                </div>

              </div>
            </div>

          <!-- TABLE 2 -->
          <h2>Currency</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Currency</th>
                  <th>Value</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ shortNames.0 }}</td>
                  <td>{{ valueCurr.0 }}</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>{{ shortNames.1 }}</td>
                  <td>{{ valueCurr.1 }}</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>{{ shortNames.2 }}</td>
                  <td>{{ valueCurr.2 }}</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>{{ shortNames.3 }}</td>
                  <td>{{ valueCurr.3 }}</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>{{ shortNames.4 }}</td>
                  <td>{{ valueCurr.4 }}</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>{{ shortNames.5 }}</td>
                  <td>{{ valueCurr.5 }}</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>{{ shortNames.6 }}</td>
                  <td>{{ valueCurr.6 }}</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>{{ shortNames.7 }}</td>
                  <td>{{ valueCurr.7 }}</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>{{ shortNames.8 }}</td>
                  <td>{{ valueCurr.8 }}</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>{{ shortNames.9 }}</td>
                  <td>{{ valueCurr.9 }}</td>
                  <td>-</td>
                </tr>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: {{ officialLast }},
          datasets: [{
            data: {{ officialLast }},
            lineTension: 0,
            pointRadius: 0,
            backgroundColor: 'transparent',
            borderColor: '#dc3545',
            borderWidth: 2,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          title: {
            display: true,
            text: "{{ inputdata }}",
          },
          scales: {
            yAxes: [{
              display : false,
              gridLines : {
                    display : true
                },
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>
  </body>
</html>
