<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <link rel="icon" href="../../../../favicon.ico">

    <title>Fjármál X</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top  flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Fjármál X</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
          <div class="sidebar-sticky" id="sidebarOverwrite">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <span data-feather="box"></span>
                  Home <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/marketport/">
                  <span data-feather="activity"></span>
                  Portfolio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/strat/">
                  <span data-feather="bar-chart-2"></span>
                  Strategies
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="shield"></span>
                  Risk
                </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/about/">
                <span data-feather="github"></span>
                About us
              </a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="/help/">
                  <span data-feather="help-circle"></span>
                  Help
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" id="maindiv">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Strategies</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group dropleft" id="bootstrap-overrides">
                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span data-feather="calendar"></span>
                  Time
                </button>
                <div class="dropdown-menu">
                  <!-- Dropdown menu links -->
                  <a class="dropdown-item" href="#">Last week</a>
                  <a class="dropdown-item" href="#">Last month</a>
                  <a class="dropdown-item" href="#">Last year</a>
                  <a class="dropdown-item" href="#">Last 5 years</a>
                </div>
              </div>
              <div id=buttonOverwrite>
              <button type="button" class="btn btn-outline-danger" type="submit" value="Submit">
                <span data-feather="plus"></span>
                Submit
              </button>
            </div>
            </div>
          </div>

          <div class="container-fluid">
            <div class="row">
                  <div class = "col-sm-10" id = "chartContainer" style="height: 300px; width: 100%;"></div>
                  <div class="col-sm-2" id="form_control">
                    <button type = "button" class = "btn btn-success btn-md" id = "start" style = "width: 150px; margin-bottom: 10px">START SIM.</button>
                    <button type = "button" class = "btn btn-danger btn-md" id = "stop" style = "width: 150px;">STOP SIM.</button>
                    <form action="/marketport/" method="post">
                      {% csrf_token %}
                      {{ rateForm }}
                      <input class="btn-sm btn-outline-danger" type="submit" value="Submit" id="form_button_margin" />
                    </form>
                  </div>
                  <div class = "col-sm-10" id = "barContainer" style="height: 300px; width: 100%;"></div>
                  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
              </div>
            </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>


      var dt = {{ dt }}
      var indexCAP = {{ indexCAP }}
      var stratW = {{ stratW }}
      var stratRet = {{ stratRet }}
      var stratCAP = {{ stratCAP }}
      var stratCAPwCost = {{ stratCAPwCost }}
      

      window.onload = function(){
        //RETURN PLOT************************************************************************
        var dataPoints1 = []; 
        var dataPoints2 = []; 
        var dataPoints3 = []; 

        var chart = new CanvasJS.Chart("chartContainer", {
          title :{
            text: "Strategy comparisson",
            fontFamily: "tahoma",
            fontSize: 15,
            fontWeight: "normal"
          },
          axisY: {
            includeZero: false
          },
          legend: {
            verticalAlign: "top",
            fontSize: 10
          },    
          data: [{
            type: "line",
            showInLegend: true,
            dataPoints: dataPoints1,
            markerType: "none"
          },{
            type: "line",
            showInLegend: true,
            dataPoints: dataPoints2,
            markerType: "none"
          },{
            type: "line",
            showInLegend: true, 
            dataPoints: dataPoints3,
            markerType: "none"
          }]
        });

        var xVal = 0;
        var yVal1 = 0;
        var yVal2 = 0;
        var yVal3 = 0;
        var dataLength = 20; // number of dataPoints visible at any point

        var updateChart = function (count) {

          count = count || 1;

          for (var j = 0; j < count; j++) {
            yVal1 = stratCAP[xVal];
            yVal2 = stratCAPwCost[xVal];
            yVal3 = indexCAP[xVal];

            dataPoints1.push({
              x: xVal * dt,
              y: yVal1
            });
            dataPoints2.push({
              x: xVal * dt,
              y: yVal2
            });
            dataPoints3.push({
              x: xVal * dt,
              y: yVal3
            });

            xVal++;
          }

          if (dataPoints1.length > dataLength) {
            dataPoints1.shift();
            dataPoints2.shift();
            dataPoints3.shift();
          }

          chart.options.data[0].legendText = "Evolution Trading Strat. (w/o cost): " + yVal1.toFixed(6);
          chart.options.data[1].legendText = "Evolution Trading Strat. (w. cost): " + yVal2.toFixed(6);
          chart.options.data[2].legendText = "OMXI 8 Index " + yVal3.toFixed(6);
          chart.render();
        };
        //BAR CHART*****************************************************************************
          var wData1;
          var wData2;
          var wData3;
          var wData4;
          var wData5;
          var wData6; 
          var wData7;
          var wData8;
          var wData9;
          var wData10;
          var wData11;
          var wData12;
          var wData13;
          var wData14;
          var wData15;
          var wData16;

          var counter = dataLength; //Neccessary so the return plot and the bar plot align
          //var counter = 0
          var barChart = new CanvasJS.Chart("barContainer",{

            title:{
              text: "Current Portfolio Weights",
              fontFamily: "tahoma",
              fontSize: 15,
              fontWeight: "normal"
            },
            axisX:{
              interval:1,
              labelAngle: -70
            },
            axisY:{
              title: "Weights",
              suffix: ""
            },
            data:[{
              type: "column",
              indexLabel: "{y}",
              dataPoints:[
                {label: "SKEL", y: wData1},
                {label: "EIK", y: wData2},
                {label: "REITIR", y: wData3},
                {label: "SIMINN", y:wData4},
                {label: "GRND", y:wData5},
                {label: "SJOVA", y:wData6},
                {label: "N1", y:wData7},
                {label: "TM", y:wData8},
                {label: "VIS", y:wData9},
                {label: "SYN", y:wData10},
                {label: "EIM", y:wData11},
                {label: "REGINN", y:wData12},
                {label: "HAGA", y:wData13},
                {label: "ORIGO", y:wData14},
                {label: "ICEAIR", y:wData15},
                {label: "MARL", y:wData16},
              ]
            }]

          });

        
          function updateBarChart(){
            var deltaY;
            var dps = barChart.options.data[0].dataPoints;
            for(var i = 0; i < 1; i++){
              wData1 = stratW[counter][0];
              wData2 = stratW[counter][1];
              wData3 = stratW[counter][2];
              wData4 = stratW[counter][3];
              wData5 = stratW[counter][4];
              wData6 = stratW[counter][5];
              wData7 = stratW[counter][6];
              wData8 = stratW[counter][7];
              wData9 = stratW[counter][8];
              wData10 = stratW[counter][9];
              wData11 = stratW[counter][10];
              wData12 = stratW[counter][11];
              wData13 = stratW[counter][12];
              wData14 = stratW[counter][13];
              wData15 = stratW[counter][14]
              wData16 = stratW[counter][15];;

              dps[i] = {label: "SKEL ", y:wData1};
              dps[i+1] = {label: "EIK ", y:wData2};
              dps[i+2] = {label: "REITIR ", y:wData3};
              dps[i+3] = {label: "SIMINN", y:wData4};
              dps[i+4] = {label: "GRND", y:wData5};
              dps[i+5] = {label: "SJOVA", y:wData6};
              dps[i+6] = {label: "N1", y:wData7};
              dps[i+7] = {label: "TM", y:wData8};
              dps[i+8] = {label:"VIS", y:wData9};
              dps[i+9] = {label:"SYN", y:wData10};
              dps[i+10] = {label:"EIM", y:wData11};
              dps[i+11] = {label:"REGINN", y:wData12};
              dps[i+12] = {label:"HAGA", y:wData13};
              dps[i+13] = {label:"ORIGO", y:wData14};
              dps[i+14] = {label:"ICEAIR", y:wData15};
              dps[i+15] = {label:"MARL", y:wData16};
              counter = counter+1;
            }

            barChart.render();
          };

        //START SIMULATION**********************************************************************

        var updateInterval = 1000;
        
        updateChart(dataLength);
        updateBarChart();

        var interval = setInterval(function(){updateChart(); updateBarChart()}, updateInterval);
        

        $('#stop').click(function(){
          clearInterval(interval)
        })

      }

    </script>
  </body>
</html>
