<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <link rel="icon" href="../../../../favicon.ico">

    <title>Fjármál X</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top  flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Fjármál X</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
          <div class="sidebar-sticky" id="sidebarOverwrite">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <span data-feather="box"></span>
                  Home <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/marketport/">
                  <span data-feather="activity"></span>
                  Portfolio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/strat/">
                  <span data-feather="bar-chart-2"></span>
                  Strategies
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="shield"></span>
                  Risk
                </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/about/">
                <span data-feather="github"></span>
                About us
              </a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="/help/">
                  <span data-feather="help-circle"></span>
                  Help
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" id="maindiv">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Strategies</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group dropleft" id="bootstrap-overrides">
                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span data-feather="calendar"></span>
                  Time
                </button>
                <div class="dropdown-menu">
                  <!-- Dropdown menu links -->
                  <a class="dropdown-item" href="#">Last week</a>
                  <a class="dropdown-item" href="#">Last month</a>
                  <a class="dropdown-item" href="#">Last year</a>
                  <a class="dropdown-item" href="#">Last 5 years</a>
                </div>
              </div>
              <div id=buttonOverwrite>
              <button type="button" class="btn btn-outline-danger" type="submit" value="Submit">
                <span data-feather="plus"></span>
                Submit
              </button>
            </div>
            </div>
          </div>

          <div class="container-fluid">
            <div class="row">
                  <div class = "col-sm-8" id = "chartContainer" style="height: 300px; width: 100%;"></div>
                  <div class = "col-sm-4" id = "barContainer" style="height: 300px; width: 100%;"></div>
                  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                <div class="col-sm-2" id="form_control">
                  <button type = "button" class = "btn btn-danger" id = "stop">STOP SIMULATION</button>
                  <form action="/marketport/" method="post">
                    {% csrf_token %}
                    {{ rateForm }}
                    <input class="btn-sm btn-outline-danger" type="submit" value="Submit" id="form_button_margin" />
                </form>
                </div>
              </div>
            </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>

      
      var minVarRet = {{ minVarRet }}
      var minVarCost = {{ minVarCost }}
      var mpRet = {{ mpRet }}
      var mpCost = {{ mpCost }}
      var dt = {{ dt }}
     

      window.onload = function(){
        //RETURN PLOT************************************************************************
        var dataPoints1 = []; 
        var dataPoints2 = []; 
        var dataPoints3 = []; 

        var chart = new CanvasJS.Chart("chartContainer", {
          title :{
            text: "Strategy comparisson",
            fontFamily: "tahoma",
            fontSize: 15,
            fontWeight: "normal"
          },
          axisY: {
            includeZero: false
          },
          legend: {
            verticalAlign: "top",
            fontSize: 10
          },    
          data: [{
            type: "line",
            showInLegend: true,
            dataPoints: dataPoints1,
            markerType: "none"
          },{
            type: "line",
            showInLegend: true,
            dataPoints: dataPoints2,
            markerType: "none"
          }]
        });

        var xVal = 0;
        var yVal1 = 0;
        var yVal2 = 0;
        var yVal3 = 0;
        var updateInterval = 1000;
        var dataLength = 20; // number of dataPoints visible at any point

        var updateChart = function (count) {

          count = count || 1;

          for (var j = 0; j < count; j++) {
            yVal1 = minVarRet[xVal];
            yVal2 = mpRet[xVal]

            dataPoints1.push({
              x: xVal * dt,
              y: yVal1
            });
            dataPoints2.push({
              x: xVal * dt,
              y: yVal2
            });
            xVal++;
          }

          if (dataPoints1.length > dataLength) {
            dataPoints1.shift();
            dataPoints2.shift();
          }

          chart.options.data[0].legendText = "Min. Var. Strat: " + yVal1.toFixed(6);
          chart.options.data[1].legendText = "Market Port. Start: " + yVal2.toFixed(6);
          chart.render();
        };
        //BAR CHART*****************************************************************************
          var costData1;
          var costData2;
          var counter = dataLength; //Neccessary so the return plot and the bar plot align
          var barChart = new CanvasJS.Chart("barContainer",{

            title:{
              text: "Accumulated Cost of Trading",
              fontFamily: "tahoma",
              fontSize: 15,
              fontWeight: "normal"
            },
            axisY:{
              title: "Total Cost",
              suffix: "ISK"
            },
            data:[{
              type: "column",
              indexLabel: "{y}",
              dataPoints:[
                {label: "OMXI Index", y: costData1},
                {label: "Min. Var. Port", y: costData2}
              ]
            }]

          });

          
          function updateBarChart(){
            var deltaY;
            var dps = barChart.options.data[0].dataPoints;
            for(var i = 0; i < 1; i++){
              costData1 = minVarCost[counter];
              costData2 = mpCost[counter];
              dps[i] = {label: "Min. Var. Portf: ", y:costData1};
              dps[i+1] = {label: "Market Portf: ", y:costData2};
              counter = counter+1;
            }

            barChart.render();
          };

        //START SIMULATION**********************************************************************
        updateChart(dataLength);
        updateBarChart()
        var interval = setInterval(function(){updateChart(); updateBarChart()}, updateInterval);

        $('#stop').click(function(){
          clearInterval(interval)
        })

      }

    </script>
  </body>
</html>
