<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <link rel="icon" href="../../../../favicon.ico">

    <title>Fjármál X</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top  flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Fjármál X</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
          <div class="sidebar-sticky" id="sidebarOverwrite">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <span data-feather="box"></span>
                  Home <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/marketport/">
                  <span data-feather="activity"></span>
                  Portfolio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/strat/">
                  <span data-feather="bar-chart-2"></span>
                  Strategies
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="shield"></span>
                  Risk
                </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/about/">
                <span data-feather="github"></span>
                About us
              </a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="/help/">
                  <span data-feather="help-circle"></span>
                  Help
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" id="maindiv">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Strategies</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group dropleft" id="bootstrap-overrides">
                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span data-feather="calendar"></span>
                  Time
                </button>
                <div class="dropdown-menu">
                  <!-- Dropdown menu links -->
                  <a class="dropdown-item" href="#">Last week</a>
                  <a class="dropdown-item" href="#">Last month</a>
                  <a class="dropdown-item" href="#">Last year</a>
                  <a class="dropdown-item" href="#">Last 5 years</a>
                </div>
              </div>
              <div id=buttonOverwrite>
              <button type="button" class="btn btn-outline-danger" type="submit" value="Submit">
                <span data-feather="plus"></span>
                Submit
              </button>
            </div>
            </div>
          </div>

          <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9" id="colstyle">
                  {{ testData }}
                  {{ df }}
                </div>
                <div class="col-sm-2" id="form_control">
                  <form action="/marketport/" method="post">
                    {% csrf_token %}
                    {{ rateForm }}
                    <input class="btn-sm btn-outline-danger" type="submit" value="Submit" id="form_button_margin" />
                </form>
                </div>
              </div>
            </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>


    var df = {{ df }}

    console.log(df)


    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'bubble',
      data: {
        labels: "Risk-Return",
        datasets:[{
          label: 'Stocks',
          data: makeScatter(),
          backgroundColor: 'rgba(52, 152, 219,0.2)',
          borderColor: 'rgba(52, 152, 219,1.0)'
        },{
          label: 'Min. Var. Portfolio',
          data: [{
            x: minSigma,
            y: ERP,
            r: 5,
          }],
          backgroundColor: 'rgba(243, 156, 18,0.2)',
          borderColor: 'rgba(243, 156, 18,1.0)',
        },{
          label: 'Market Portfolio',
          data: [{
            x: marketSigma,
            y: marketReturn[0],
            r: 5
          }],
          backgroundColor: 'rgba(193,46,12,0.2)',
          borderColor: 'rgba(193,46,12,1)',
        },{
          type: 'line',
          label: 'Efficient Frontier',
          data: reqScatter(),
          backgroundColor: 'rgba(46, 204, 113,0.2)',
          borderColor: 'rgba(46, 204, 113,1.0)',
          fill: false,
        },{
          type: 'line',
          label: 'CML',
          data: CML(),
          backgroundColor: 'rgba(211, 84, 0,0.2)',
          borderColor: 'rgba(211, 84, 0,1.0)',
          fill: false,
        }]
      },
      options: {
        elements: {
          point: {
            radius: 0
          }
        }
      }
    });

    function makeScatter(){
      let stockReturns = R;
      let stockVol = sigma;
      let riskReturn  = [];

      riskReturn = stockVol.map(function(item, i){
        return {x: item, y: stockReturns[i], r:5}
      });

      return riskReturn
    }

    function reqScatter(){
      let reqR = reqReturn[0];
      let reqVol = reqSigma;
      let marketFront = [];

      marketFront = reqVol.map(function(item, i){
        return {x: item, y: reqR[i], r:0}
      });

      return marketFront;
    }

    function CML(){
      let cmlReturn = capitalMarketLine[0];
      let cmlStd = adjSigma;
      let capMarkLine = [];

      capMarkLine = cmlStd.map(function(item, i){
         return {x: item, y: cmlReturn[i], r: 2 }
      })

      return capMarkLine;

    }
    </script>
  </body>
</html>
