body {
  font-size: .875rem;
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
  display: table;

}

#bootstrap-overrides {
  padding-left: 10px;
}

#buttonOverwrite {
  padding-left: 10px;
}

#imagestyle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 50%;
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 150px;
}

#rowstyle {
  margin-top: 150px;
}

#divtest {
  height: auto;
  padding-left: 0px;
  margin-bottom: 30px;
}

#colstyle {
  text-align: left;
  padding-left: 0px;
}

.col-sm-4 {
  text-align: center;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  background-color: #36404e;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #797979;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #ffffff;
}

.sidebar .nav-link:hover ,
.sidebar .nav-link.active  {
  color: #ffffff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: #dc3545;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */
.navbar {
  background-color: #36404e;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  /* background-color: rgba(0, 0, 0, .25); */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

/*
 * Radio buttons
 */

#scrollable {
  height: 28rem;
  overflow: auto;
}

 input[type=radio] {
   display: none;
 }

 /**
  * Hovered
  */
 .active-label, label:focus, label:hover, label:active, input:checked + label {
   color: #dc3545;
 }
 .active-label:before, label:focus:before, label:hover:before, label:active:before, input:checked + label:before {
   background: white;
   border-color: #dc3545;
 }

 /**
  * labels
  */
 label {
   font-size: 15px;
   font-weight: bold;
   cursor: pointer;
   display: block;
   padding: 1rem 1rem 1rem 3rem;
   position: relative;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
   background: white;
   whitespace: no-wrap;
   overflow: hidden;
   text-overflow: ellipsis;
   -webkit-transition: all .15s ease;
   transition: all .15s ease;

 }
 label:first-of-type {
   border: 0;
 }
 label:before {
   content: "";
   position: absolute;
   left: 1rem;
   top: 1rem;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: .2rem solid #ccc;
 }

 input:checked + label:before {
   border-color: white;
   border: none;
   background: #dc3545;
 }

 input:disabled + label {
   background: #efefef;
   color: rgba(0, 0, 0, 0.5);
   cursor: not-allowed;
 }
 input:disabled + label:hover {
   border-color: rgba(0, 0, 0, 0.1);
 }
 input:disabled + label:before {
   border-color: white;
   background: white;
 }
